* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
:root {
  --primary-color: #0cbbc7;
  --secondary-color: #191619;
  --back-color: #edfeff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.btn {
  padding: 10px 50px;
  width: 140px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}

.header {
  background-color: #edfeff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  text-decoration: none;
}

ul li > a {
  text-decoration: none;
  color: var(--secondary-color);
}
